<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @item.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @item.sex %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
